<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Tutorial</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Django Girls Blog</a></h1>
    </header>
    <article>
      <h2><a href="">My first post</a></h2>
      <time>published: 23.09.2022, 15:30</time>
      <p>
        Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </article>

    <article>
      <h2><a href="">My second post</a></h2>
      <time>published: {{posts}}, 15:45</time>
      <p>
        Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </article>
  </body>
</html>
