{% extends 'blog/base.html' %} {% block content %} {% for post in posts %}
<article class="post">
  <time class="date">
    <p>published: {{post.published_date}}</p>
  </time>
  <h2><a href="">{{post.title}}</a></h2>
  <p>{{post.text}}</p>
  <p>
    Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Lorem Ipsum dolor sit
    amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua. Lorem Ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua.
  </p>
</article>
{% endfor %} {% endblock %}
